*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*debug*/






/*css*/


/*QUI COMINCIA HEADER TOP*/
.top{
    background-color:rgb(37, 94, 233);
    padding: 10px;

}

.top > .container{
    display: flex;
    width: 1170px;
    margin: auto;
    justify-content: center;
    align-items: center;

}

.tratteggiato{
    border: 3px dashed black;
    padding: 15px;
}

.logo{
    width: 20%;
}

.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}

li{
    padding: 5px 10px;
    
}

.login{
    width: 20%;
    text-align: right;
}


/*QUI COMINCIA HEADER BOT*/

.bot{
    display: flex;
    justify-content: center;
    padding: 40px 0px 40px;
    background-image: url(../img/jumbo.png);
    background-repeat: no-repeat;
    background-size: cover;
   
}

.bot > .container{

    text-align: center;
    padding-bottom: 40px;
    width: 1170px;
    

}

h1 {
    color: white;
    padding: 100px 0px 30px 0px;
    font-size: 50px;
}

p {
    color: white;
    padding-bottom: 20px;
    font-size: 20px;
}

.funzioni > span {
    font-size: 30px;
    padding: 5px 20px;
    margin: 5px 10px;
}

.scarica::before{
    content: "\2193";
    padding-right: 6px;
}

/*QUI COMINCIA MAIN*/

section{
    padding: 30px 0px;
}

.schemi{
    display: flex;
    width: 1170px;
    margin: auto;
    }


.immagine{
    height: 400px;
    width: 60%;
    background-color: lightblue;
}

.descrizione{
    height: 400px;
    width: 40%;
    background-color: green;
}

.grigio{
    background-color: lightgray;
}

.contenuti{
    height: 500px;
    width: 1170px;
    margin: auto;
    background-color: lightgreen;
}


/*QUI COMINCIA FOOTER*/


.footertop{
    background-color: black;
    margin-bottom: 3px;
}

.footertop > .container{
    display: flex;
    height: 500px;
    width: 1170px;
    margin:  auto;
}

.container > .colonne{
    display: flex;
    width: 75%;
}

.posto{
    background-color: lightcoral;
    width: 25%;
    margin: 5px 0px 20px;
}

.altro{
    background-color: darkcyan;
    margin: 5px 0px 20px;
    width: 25%;
    
}

.footerbot{
    background-color: black;
    margin-bottom: 3px;
    padding-top: 20px;
} 

.registrazione{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1170px;
    margin: auto;
    background-color: turquoise;
    
    
}                                                     

.logobot{
    background-color: antiquewhite;
    padding: 5px;
    margin: 10px 0px;
}

.bottone{
    background-color: antiquewhite;
    padding: 5px;
    margin: 10px 0px;
}

.bottoncinibianchi{
    background-color: white;
    color: black;
    border-radius: 15px;
    padding: 5px 8px;
    border: none;
}

.bottoncinineri{
    background-color: black;
    color: white;
    border-radius: 15px;
    padding: 8px 10px;
    border: none;
}